.attribution { 
    font-size: 11px; 
    text-align: center;
    position: absolute;
    bottom: 1rem;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

:root{
    --slate-300: rgb(213, 225, 239);
    --slate-500: rgb(104, 119, 141);
    --slate-900: rgb(31, 49, 79);
    --white: rgb(255, 255, 255);
    --blue-500: #3685FF;
    --blue-600: #2C7DFA;

    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-500: 2.5rem;

    --fs-preset1: 1.375rem;
    --fs-preset2: .9375rem;

    --lh-preset1: 120%;
    --lh-preset2: 140%;

    --ls-preset1: 0px;
    --ls-preset2: 0.2px;

    --fw-preset1: 700;
    --fw-preset2: 400;

}

html, body{
    height: 100%;
    width: 100%;
}

body{
    font-family: "Outfit", sans-serif;
    background-color: var(--slate-300);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 1000px;
    padding: .9rem;
    border-radius: 1rem;
}

img{
    display: block;
    border-radius: .5rem;
}

.top-txt{
    font-size: var(--fs-preset1);
    line-height: var(--lh-preset1);
    letter-spacing: var(--ls-preset1);
    font-weight: var(--fw-preset1);
    color: var(--slate-900);
}

.bottom{
    padding: 15px;
}

.bottom-txt{
    font-size: var(--fs-preset2);
    line-height: var(--lh-preset2);
    letter-spacing: var(--ls-preset2);
    font-weight: var(--fw-preset2);
    color: var(--slate-500);
}

footer{
    width: 100%;
    display: flex;
justify-content: center;
}