.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:root{

    /* Colors */
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);

    /* Font Presets */
    --normal: 400;
    --bold: 600;
    --extrabold: 700;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Outfit';
    background-color: var(--stone-100);
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    background-color: var(--white);
    width: 500px;
}

footer{
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
}